<html>
<head>
    <title>
        Sitecore Marketplace
    </title>
    <meta charset="utf-8" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- MOBILE VIEWPORT OPTIMIZED -->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1" />-->
    <!-- JS SECTION -->
    <script type="text/javascript" src='https://sitecoremarketplace.azureedge.net/lib/modernizr-2.0.6.min.js'></script>
    <!-- CSS SECTION -->
    <link rel="stylesheet" type="text/css"
          href="https://sitecoremarketplace.azureedge.net/Scripts/modules/fancybox/jquery.fancybox-1.3.4.css" />
    <link rel="shortcut icon" href="https://sitecoremarketplace.azureedge.net/favicon.ico" />

    <!--[if IE]><link href="/css/common/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   
    <link href="~/css/homepage/MPstyles.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <!--link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Default.css?v=17072012" rel="stylesheet" type="text/css" />
    <link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/colors/jquery-ui.custom.Default.css" rel="stylesheet" type="text/css" />
    <link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/colors/Default.css" rel="stylesheet" type="text/css" />
    <link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Custom.css" rel="stylesheet" type="text/css" />
    <link href="/layouts/system/visitoridentificationextension.aspx" rel="stylesheet" type="text/css" /-->


</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="~/js/loadData.js"></script>
<script src="~/js/recorder.js"></script>
<script src="~/js/hark.js"></script>
<script src="~/js/Fr.voice.js"></script>
<script src="~/js/app.js"></script>


<script>
    function loadRecorder(name) {

        window.loadPopup(name);
    }
</script>

<body class="notlogged marketplace">
    <!-- PAGE CONTENT -->
    <div class="container">
        <header class="header">
            <ul class="top-menu">
                <li class="language top popup_tab" style="display: none;"><a class="language" href="#">English</a></li>
                <li class="services top-menu-item popup-menu services">
                    <a class="service popup-menu-button" href="#">Services</a>

                    <ul class="popup-menu-content popup">

                        <li>
                            <a href="http://sitecore.net/" target="_blank">Sitecore.net</a>
                        </li>

                        <li>
                            <a href="http://sdn.sitecore.net/" target="_blank">Sitecore Developer Network</a>
                        </li>

                        <li>
                            <a href="http://spn.sitecore.net/" target="_blank">Sitecore Partner Network</a>
                        </li>

                        <li>
                            <a href="https://community.sitecore.net/" target="_blank">Sitecore Community</a>
                        </li>

                        <li>
                            <a href="https://dev.sitecore.net:443/.aspx?sc_lang=en" target="_blank">Sitecore Developer Portal</a>
                        </li>

                        <li>
                            <a href="https://doc.sitecore.com/" target="_blank">Sitecore Documentation</a>
                        </li>

                        <li>
                            <a href="https://kb.sitecore.net/" target="_blank">Sitecore Knowledge Base</a>
                        </li>

                        <li>
                            <a href="https://profile.sitecore.net:443/en/Profile.aspx" target="_blank">Sitecore Profile</a>
                        </li>

                    </ul>

                </li>
                <li class="top top-menu-item popup-menu contact"><a href="http://www.sitecore.net/About/Contact.aspx " class="popup-menu-button" target="_blank">Contact Us</a></li>

                <li class="sign-in top-right popup_tab top-menu-item popup-menu">
                    <a href="#" class="popup-menu-button"><img src='https://sitecoremarketplace.azureedge.net/img/header_signin_logo.png' />Sign in</a>

                    <div class="popup-menu-content sign_in_popup">
                        <div class="col">
                            <h3>
                                Sign in with
                            </h3>
                            <ul class="social ">
                                <li class="google grey">

                                    <span class="social-button-title">Sign in with Google</span>
                                    <input type="image" name="header_0$topmenu_0$signinpopup_0$ctl00$googleLoginButton" id="header_0_topmenu_0_signinpopup_0_ctl00_googleLoginButton" title="Login with Google+" class="button" src="" />
                                </li>
                            </ul>

                            <p class="no_social_login  hidden">
                                Social sign in will be available with the public release
                            </p>

                        </div>
                        <div class="col">

                            <h2>
                                BECOME A MEMBER
                            </h2>
                            <ul class="common_list">
                                <li>Be a part of the Sitecore community&nbsp;</li>
                                <li>Start understanding new concepts for your web site</li>
                                <li>Start getting new ideas for your web site </li>
                                <li>Stay up to date with Sitecore</li>
                            </ul>
                            <a id="header_0_topmenu_0_signinpopup_0_tpSignUpcon_hlSignUpNow" class="red_button" href="https://profile.sitecore.net:443/SignUp/Signup.aspx?sc_lang=en">
                                <span class="left"></span>
                                <span class="mid">Sign up now</span>
                                <span class="right"></span>
                            </a>
                            <div class="clear">
                            </div>

                        </div>
                        <div class="col last">
                            <h3>
                                Sign in
                            </h3>

                            <div id="header_0_topmenu_0_signinpopup_0_UpdatePanel1">

                                <div id="header_0_topmenu_0_signinpopup_0_signin_form">
                                    <div class='scfForm' id="form_C22C8A7FD78F42ECBDAF6164D88BA1D5">
                                        <input type="hidden" name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$formreference" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_formreference" value="form_C22C8A7FD78F42ECBDAF6164D88BA1D5" />
                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_intro" class="scfIntroBorder">

                                        </div>
                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5__summary" class="scfValidationSummary" style="display:none;">

                                        </div>
                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submitSummary" class="scfSubmitSummary" style="color:Red;">

                                        </div>
                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_fieldContainer" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit&#39;)">
                                            <div class="scfSectionBorder">
                                                <div class="scfSectionBorder">
                                                    <div class="scfSectionContent">
                                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_58250BE209654B1F8C0C375B2FA4BE7E_scope" class="scfEmailBorder fieldid.%7b58250BE2-0965-4B1F-8C0C-375B2FA4BE7E%7d name.Login">
                                                            <label for="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_58250BE209654B1F8C0C375B2FA4BE7E" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_58250BE209654B1F8C0C375B2FA4BE7E_text" class="scfEmailLabel">Login</label><div class="scfEmailGeneralPanel">
                                                                <input name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$field_58250BE209654B1F8C0C375B2FA4BE7E" type="text" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_58250BE209654B1F8C0C375B2FA4BE7E" class="scfEmailTextBox" /><span class="scfEmailUsefulInfo" style="display:none;"></span><span id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_58250BE209654B1F8C0C375B2FA4BE7E5D10AF7533054C39908EB25E8CB4ABDC_validator" class="scfValidator trackevent.%7b844BBD40-91F6-42CE-8823-5EA4D089ECA2%7d fieldid.%7b58250BE2-0965-4B1F-8C0C-375B2FA4BE7E%7d inner.1" style="display:none;">Enter a valid e-mail address</span>
                                                            </div><span class="scfRequired">*</span>
                                                        </div><div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA172_scope" class="scfPasswordBorder fieldid.%7b50B51769-F316-46AB-977B-960F6B2AA172%7d name.Password">
                                                            <label for="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA172" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA172_text" class="scfPasswordLabel">Password</label><div class="scfPasswordGeneralPanel">
                                                                <input name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$field_50B51769F31646AB977B960F6B2AA172" type="password" maxlength="256" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA172" class="scfPasswordTextBox" /><span class="scfPasswordUsefulInfo" style="display:none;"></span><span id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA1726ADFFAE3DADB451AB530D89A2FD0307B_validator" class="scfValidator trackevent.%7bF3D7B20C-675C-4707-84CC-5E5B4481B0EE%7d fieldid.%7b50B51769-F316-46AB-977B-960F6B2AA172%7d inner.1" style="display:none;">Password must have at least 0 and no more than 256 characters</span><span id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_50B51769F31646AB977B960F6B2AA172070FCA141E9A45D78611EA650F20FE77_validator" class="scfValidator trackevent.%7b844BBD40-91F6-42CE-8823-5EA4D089ECA2%7d fieldid.%7b50B51769-F316-46AB-977B-960F6B2AA172%7d inner.1" style="display:none;">The value of the Password field is not valid</span>
                                                            </div><span class="scfRequired">*</span>
                                                        </div><div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_AEDD87193D3B4C33AF85D7A946CE4DB8" class="scfLinkBorder fieldid.%7bAEDD8719-3D3B-4C33-AF85-D7A946CE4DB8%7d name.Forgot+your+password">
                                                            <div class="scfSingleLineGeneralPanel" style="width:100%;">
                                                                <a class="scfCheckbox" href="https://profile.sitecore.net:443/SignUp/Validation.aspx?sc_lang=en">Forgot your password?</a>
                                                            </div>
                                                        </div><div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_258C7373DB8D4FDCB2FDF25C4BB0610F" class="scfCheckboxBorder fieldid.%7b258C7373-DB8D-4FDC-B2FD-F25C4BB0610F%7d name.Keep+me+signed+in">
                                                            <div class="scfCheckBoxListGeneralPanel">
                                                                <span class="scfCheckbox"><input id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_258C7373DB8D4FDCB2FDF25C4BB0610Fcheckbox" type="checkbox" name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$field_258C7373DB8D4FDCB2FDF25C4BB0610Fcheckbox" /><label for="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_field_258C7373DB8D4FDCB2FDF25C4BB0610Fcheckbox">Keep me signed in</label></span>
                                                            </div><span class="scfCheckboxUsefulInfo" style="display:none;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_footer" class="scfFooterBorder">

                                        </div>
                                        <div class="scfSubmitButtonBorder">
                                            <div class="red_button">
                                                <span class="left"></span><span class="mid">Sign in</span><span class="right"></span><input type="submit" name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit" value="" onclick="$scw.webform.lastSubmit = this.id;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit&quot;, &quot;&quot;, true, &quot;form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit&quot;, &quot;&quot;, false, false));$scw.webform.validators.setFocusToFirstNotValid(&#39;form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit&#39;)" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_submit" class="scfSubmitButton" />
                                            </div>
                                        </div><input type="hidden" name="header_0$topmenu_0$signinpopup_0$form_C22C8A7FD78F42ECBDAF6164D88BA1D5$form_C22C8A7FD78F42ECBDAF6164D88BA1D5_eventcount" id="header_0_topmenu_0_signinpopup_0_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_form_C22C8A7FD78F42ECBDAF6164D88BA1D5_eventcount" value="1" />
                                    </div>
                                </div>

                            </div>
                            <div id="header_0_topmenu_0_signinpopup_0_UpdateProgress1" style="display:none;">

                                Processing...

                            </div>

                        </div>
                    </div>

                </li>
            </ul>

            <div class="header-content">
                <div class="column logo">
                    <a href="/" class="home"></a>
                    <p>Marketplace</p>
                </div>
                <div class="column search">

                </div>

                <div id="header_0_dvDiscover" class="column link">
                    <a href='/en/SearchResults.aspx#discover'>Discover</a>
                </div>
                <div id="header_0_dvContribute" class="column link last">
                    <a href='/en/Contribute.aspx'>Contribute</a>
                </div>
                <div class="clear"></div>
            </div>

        </header>



        <div class="main_search_panel">
            <div class="applique">
                <div class="content_wrapper">
                    <h1>
                        Discover Sitecore modules
                    </h1>
                    <h2>Sitecore Marketplace is home to over 1100 Sitecore modules. Get a glimpse by exploring modules right here...</h2>
                    <div class="search_input">
                        <input name="content_1$SearchTextBox" type="text" id="content_1_SearchTextBox" />
                        <button onclick="loadRecorder('content_1_SearchTextBox')">
                            <!-- <button onclick="loadJson('page')"> -->
                            <i class="fa fa-microphone"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <article>

            <div class="content_wrapper" id="mainContent">
                <div class="main_page_signin">
                    <h1>Become a member, and get more out of the marketplace</h1>
                    <h2>See what you get!</h2>
                    <a href="https://profile.sitecore.net:443/SignUp/Signup.aspx" id="content_2_signupnow_0_aSignUpNow" class="btn_main_signup uppercase">
                        <div class="left">
                        </div>
                        <div class="middle">
                            <span>
                                Sign up now
                            </span>
                            <div class="lug_wrapper">
                                <div class="lug">
                                    <div class="lug_left">
                                    </div>
                                    <div class="lug_middle">
                                        <span>
                                            It&#39;s free
                                        </span>
                                    </div>
                                    <div class="lug_right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                        </div>
                    </a>
                    <p>or sign in with existing account:</p>
                    <a href="javascript:LoginFromGoogle()" id="content_2_signupnow_0_aGoogleSignInLink" class="social_login"><img src="~/img/others/google_big.png" /></a>
                </div>
            </div>
            <div class="hr">
            </div>

            <div class="content_wrapper">
                <div class="main_page_three_cols">
                    <a class="column left" href='/en/SearchResults.aspx'>
                        <img src='~/img/others/Discover.png' />
                        <h1>Discover</h1>
                        <h2>Browse through all Sitecore modules</h2>
                        <p>Discover all the modules available for Sitecore and find the ones for the site that you are building.</p>
                    </a>
                    <a class="column mid" href='/en/Contribute.aspx'>
                        <img src='~/img/others/Contribute.png' />
                        <h1>Contribute</h1>
                        <h2>Contribute your module</h2>
                        <p>The marketplace thrives on developers contributing modules, so if you have a cool module that you wish to share with the community you should read on.</p>
                    </a>
                    <a class="column right" href='https://community.sitecore.net/'>
                        <img src='~/img/others/Engage.png' />
                        <h1>Community</h1>
                        <h2>Engage with the Sitecore community</h2>
                        <p>Join or start discussions for topics you want to be a part of. Brainstorm ideas, solve issues and develop new connections with other community members interested in the same subjects.</p>
                    </a>


                    <div class="clear"></div>
                </div>
            </div>
        </article>

        <footer class="footer">

            <section class="columns columns-mp clearfix">
                <div class="lists">
                    <div class="column">


                        <div class="heading">
                            <h2>
                                Sitecore
                            </h2>
                            <h3>
                                Trend watch
                            </h3>
                        </div>
                        <ul class="trends modules-list">

                            <li>
                                <a href="https://community.sitecore.net">Sitecore Community</a>
                                <p>
                                    Connect with other Sitecore professionals
                                </p>
                            </li>

                            <li>
                                <a href="http://sitecorecontextitem.wordpress.com/2014/03/12/sitecore-retina-images/" target="_blank">Sitecore Retina Images</a>
                                <p>
                                    Sitecore.Context.Item
                                </p>
                            </li>

                            <li>
                                <a href="http://markstiles.net/Blog/2014/05/12/Data-Importer-Updated.aspx" target="_blank">Data Importer Updated</a>
                                <p>
                                    Mark Stiles - Project Lifecycle
                                </p>
                            </li>

                            <li>
                                <a href="http://visionsincode.wordpress.com/2014/04/10/client-tracker-with-sitecore-dms/" target="_blank">Client Tracker with Sitecore DMS</a>
                                <p>
                                    Visions in code
                                </p>
                            </li>

                            <li>
                                <a href="http://www.alen.me.uk/2014/04/sitecore-instance-manager-13-update-4.html" target="_blank">Sitecore Instance Manager 1.3 Update-4 was released</a>
                                <p>
                                    Development and Sitecore by Alen Pelin
                                </p>
                            </li>

                        </ul>
                    </div>
                    <div class="column mid">
                        <div class="heading">
                            <h2>
                                Most
                            </h2>
                            <h3>
                                Recommended
                            </h3>
                        </div>
                        <div class="modules-list">

                            <ul class="modules">

                                <li class="clearfix">
                                    <a href='/en/Modules/Sitecore_Instance_Manager.aspx' class='picture'>
                                        <img src="~/img/others/icon_reporting.png" class='reporting' width="55" height="55" />
                                    </a>
                                    <div class="modulename">
                                        <span class="number">1.</span>
                                        <a class="name" href='/en/Modules/Sitecore_Instance_Manager.aspx'>Sitecore Instance Manager</a>
                                        <span class="like">126x</span>
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <a href='/en/Modules/Sitecore_PowerShell_console.aspx' class='picture hidden'>
                                        <img src="#" class='tools' width="55" height="55" />
                                    </a>
                                    <div class="modulename">
                                        <span class="number">2.</span>
                                        <a class="name" href='/en/Modules/Sitecore_PowerShell_console.aspx'>Sitecore PowerShell console</a>
                                        <span class="like">98x</span>
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <a href='/en/Modules/Sitecore_Log_Analyzer.aspx' class='picture hidden'>
                                        <img src="#" class='administration' width="55" height="55" />
                                    </a>
                                    <div class="modulename">
                                        <span class="number">3.</span>
                                        <a class="name" href='/en/Modules/Sitecore_Log_Analyzer.aspx'>Sitecore Log Analyzer</a>
                                        <span class="like">63x</span>
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <a href='/en/Modules/Sitecore_Rocks.aspx' class='picture hidden'>
                                        <img src="#" class='accelarators' width="55" height="55" />
                                    </a>
                                    <div class="modulename">
                                        <span class="number">4.</span>
                                        <a class="name" href='/en/Modules/Sitecore_Rocks.aspx'>Sitecore Rocks</a>
                                        <span class="like">39x</span>
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <a href='/en/Modules/Analytics_Database_Manager.aspx' class='picture hidden'>
                                        <img src="#" class='reporting' width="55" height="55" />
                                    </a>
                                    <div class="modulename">
                                        <span class="number">5.</span>
                                        <a class="name" href='/en/Modules/Analytics_Database_Manager.aspx'>Analytics Database Manager</a>
                                        <span class="like">34x</span>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="column most-download">
                        <div class="heading">
                            <h2>
                                Most
                            </h2>
                            <h3>
                                Downloaded
                            </h3>
                        </div>

                        <ul class="modules modules-list"></ul>

                    </div>
                </div>
            </section>


            <div class="connections">
                <div class="connections-content">
                    <p id="footer_0_prConnect" class="connect">Connect With Sitecore On: <a href="http://www.facebook.com/Sitecore" target="_blank">Facebook</a> / <a href="http://www.linkedin.com/company/39750" target="_blank">LinkedIn</a> / <a href="https://twitter.com/#!/sitecore" target="_blank">Twitter</a> / <a href="http://www.youtube.com/sitecorechannel" target="_blank">Youtube</a></p>
                    <p id="footer_0_prNewsletter" class="newsletter">: </p>
                </div>
            </div>
            <div class="links">
                <div id="footer_0_dvBottomLinks" class="links-content">
                    <a href="mailto:marketplace@sitecore.net">Feedback</a> <a href="http://www.sitecore.net/Company/Contact/Privacy-Policy.aspx" target="_blank">Privacy policy</a> <a href="/en/Terms_of_Use.aspx">Terms of Use</a> <a href="https://profile.sitecore.net:443/en/DMCA_Notice.aspx" target="_blank">DMCA Notice</a> <a href="http://www.sitecore.net/Legal/Copyright.aspx" target="_blank">COPYRIGHT © 1999-2020 SITECORE</a>
                </div>
            </div>

        </footer>

        <!-- JAVASCRIPT AT THE BOTTOM FOR FAST PAGE LOADING -->

</body>
</html>
